<div class="page-header" filter-color="orange">
  <div
    class="page-header-image"
    style="background-image: url(assets/img/hotel_ring.png)"
  ></div>
  <div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto text-left">
        <div class="row">
          <div class="col-md-6">
            <div class="dropdown button-dropdown">
              <div ngbDropdown>
                <a class="dropdown-toggle" ngbDropdownToggle>
                  <p class="btn btn-primary">Renters</p>
                </a>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                  <div *ngFor="let item of renters">
                    <a
                      class="dropdown-item"
                      href="/nftrent/{{ chainId }}/{{ currency }}/{{ nftId }}/{{
                        item
                      }}"
                      >{{ item }}</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6" style="vertical-align: middle">
            <p>{{ renter }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 ml-auto mr-auto text-right">
        <button class="btn btn-primary" (click)="balance()">Balance</button>
        <button class="btn btn-secondary">Rented Nfts</button>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto text-left">
        <h6>Rent Status of the Room</h6>
      </div>
      <div class="col-md-6 ml-auto mr-auto text-right">
        <h6>Renter Wallet of Selected</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto text-left">
        <div class="row">
          <div class="col-md-12">
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
              <div class="input-group-prepend">
                  <span class="input-group-text" style="width: 140px;"  placeholder="Range">Start Date</span>
              </div> 
              <input type="text" [(ngModel)]="startDate" [value]="startDate" name="startDate"  class="form-control" placeholder="Start Date" (focus)="focus=true" (blur)="focus=false" >              
            </div>  
          </div>
          <div class="col-md-12">
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
              <div class="input-group-prepend">
                  <span class="input-group-text" style="width: 140px;" placeholder="Range">End Date</span>
              </div> 
              <input type="text" [(ngModel)]="endDate" [value]="endDate" name="endDate"  class="form-control" placeholder="End Date" (focus)="focus=true" (blur)="focus=false" >              
            </div>  
          </div>
          <div class="col-md-12 content-center">
            <button class="btn btn-secondary" (click)="rentNftModal()">Rent Nft</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>All Sessions for this nft {{currency}} - {{nftId}}</p>
          </div>
        </div>
        <div class="row" *ngFor="let item of nftRentDateAll">
          <div class="col-4">
            <p class="text-md-right">{{  item.nftDetail  }}</p>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-3" style="height: 20px;">
                <p class="text-md-left align-middle">Start</p>
              </div>
              <div class="col-md-9" style="height: 20px;">
                <p class="text-md-left align-middle">{{ getFormattedDate(item.startDate) }}</p>
              </div> 
            </div>
            <div class="row">
              <div class="col-md-3" style="height: 20px;">
                <p class="text-md-left align-middle">End</p>
              </div>
              <div class="col-md-9" style="height: 20px;">
                <p class="text-md-left align-middle">{{ getFormattedDate(item.endDate) }}</p>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 ml-auto mr-auto text-left">
        <div class="row">
          <div class="col-md-6" style="height: 20px;"><p class="text-md-right">Amount</p></div>
          <div class="col-md-6" style="height: 20px;">Currency</div> 
        </div>
        <div class="row" *ngFor="let item of balances">
          <div class="col-md-6 mr-auto" style="height: 20px;">
            <p class="text-md-right">{{ getFormatedAmount(item.amount, item.precision) }}</p>
          </div>
          <div class="col-md-6 mr-auto"> 
            <div class="row">
              <div class="col-md-4" style="height: 20px;">
                <p class="text-md-left align-middle">{{ item.currency }}</p>
              </div>
              <div class="col-md-4">
                <button [disabled]="saving" class="btn btn-primary btn-sm" style="padding: 1 !important; margin: 0 !important;" (click)="withdrawModal(item.currency)">Withdraw</button>
              </div>
              <div class="col-md-4">
                <button [disabled]="saving" class="btn btn-secondary btn-sm" style="padding: 1 !important; margin: 0 !important;" (click)="faucet(item.currency)" >Faucet</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="height: 20px; font-weight: bolder;">
            <p class="text-md-left align-middle">Rented Nfts</p>
          </div> 
        </div>
        <div class="row">
          <hr class="hr hr-blurry hr-primary" />
        </div>
        <div class="row" *ngFor="let item of nftRentDates">
          <div class="col-md-4" style="height: 20px;">
            <p class="text-md-right">{{  item.nftDetail  }}</p>
          </div>
          <div class="col-md-4" style="height: 20px;">
            <div class="row">
              <div class="col-md-3" style="height: 20px;">
                <p class="text-md-left align-middle">Start</p>
              </div>
              <div class="col-md-9" style="height: 45px;">
                <p class="text-md-left align-middle">{{ getFormattedDate(item.startDate) }}</p>
              </div> 
            </div>
            <div class="row">
              <div class="col-md-3" style="height: 20px;">
                <p class="text-md-left align-middle">End</p>
              </div>
              <div class="col-md-9" style="height: 45px;">
                <p class="text-md-left align-middle">{{ getFormattedDate(item.endDate) }}</p>
              </div> 
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-4">
                <button [disabled]="saving" class="btn btn-primary btn-sm" style="padding: 1 !important; margin: 0 !important;"   (click)="sendSessionModal(item)">Send</button>
              </div>
              <div class="col-md-4">
                <button [disabled]="saving" class="btn btn-secondary btn-sm" style="padding: 1 !important; margin: 0 !important;" (click)="grantAccessModal(item)" >Grant Access</button>
              </div>
              <div class="col-md-4">
                <button [disabled]="saving" class="btn btn-secondary btn-sm" style="padding: 1 !important; margin: 0 !important;" (click)="hasAccess(item)" >Has Access</button>
              </div>
            </div>
          </div>   
      </div>
    </div>
  </div>
</div>
<ng-template #classic let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-center">
      <button type="button" class="close" (click)="d('Cross click')">
          <i class="now-ui-icons ui-1_simple-remove"></i>
      </button>
      <h4 class="title title-up">Modal title</h4>
  </div>
  <div class="modal-body">      
        <form [formGroup]="withdrawalForm">
          <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text" style="width: 140px;"  placeholder="To Address">
                To Address
              </span>  
            </div>
            <input type="text" formControlName="toAddress" name="toAddress" placeholder="To Address" class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
          </div>
          <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text" style="width: 140px;"  placeholder="Amount">
                Amount
              </span>
            </div>
            <input type='number' step='0.1' value='0.000000' placeholder='0.000000' formControlName="amount" name="amount" class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
          </div>
          <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text" style="width: 140px;"  placeholder="Currency">
                Currency
              </span>
            </div>
            <input type="text" formControlName="currency" name="currency" placeholder="Currency" class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
          </div>
        </form> 
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="withdraw()">Withdraw</button>
      <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #rentnftmodal let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-center">
      <button type="button" class="close" (click)="d('Cross click')">
          <i class="now-ui-icons ui-1_simple-remove"></i>
      </button>
      <h4 class="title title-up">Rent Nft</h4>
  </div>
  <div class="modal-body">       
    <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
      <div class="input-group-prepend">
          <span class="input-group-text" style="width: 140px;"  placeholder="Usd Balance">
            Usd Balance
          </span>
      </div>
      <input type="text" [(ngModel)]="usdBalance" [value]="usdBalance" name="usdBalance" placeholder="Usd Balance" class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
    </div>
    <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
      <div class="input-group-prepend">
          <span class="input-group-text" style="width: 140px;"  placeholder="Total Amount">
            Total Amount
          </span>
      </div>
      <input type="text" [(ngModel)]="totalAmount" [value]="totalAmount" name="totalAmount" placeholder="Total Amount" class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
    </div>
    <p *ngIf="!rentEnable()">
      Please transfer some usd fund from payment channels or exchange.
    </p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="rentNft()">Rent</button>
      <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
  </div>
</ng-template>


<ng-template #sendsession let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-center">
      <button type="button" class="close" (click)="d('Cross click')">
          <i class="now-ui-icons ui-1_simple-remove"></i>
      </button>
      <h4 class="title title-up">send session</h4>
  </div>
  <div class="modal-body">       
    <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
      <div class="input-group-prepend">
          <span class="input-group-text" style="width: 140px;"  placeholder="Usd Balance">
            New Renter
          </span>
      </div>
      <input type="text" [(ngModel)]="newSendRenter" [value]="newSendRenter" name="newSendRenter" placeholder="New Renter" class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
    </div> 
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="sendSession()">Send</button>
      <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #grantaccess let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-center">
      <button type="button" class="close" (click)="d('Cross click')">
          <i class="now-ui-icons ui-1_simple-remove"></i>
      </button>
      <h4 class="title title-up">Send session to another renter</h4>
  </div>
  <div class="modal-body">       
    <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
      <div class="input-group-prepend">
          <span class="input-group-text" style="width: 140px;"  placeholder="Usd Balance">
             Granting Renter
          </span>
      </div>
      <input type="text" [(ngModel)]="newGrant" [value]="newGrant" name="newGrant" placeholder="New Grant" class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
    </div> 
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="grantAccess()">Grant Access</button>
      <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
  </div>
</ng-template>