<div class="page-header" filter-color="orange">
  <div
    class="page-header-image"
    style="background-image: url(assets/img/hotel_ring.png)"
  ></div>
  <div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto text-left">
        <div class="dropdown button-dropdown">
          <div ngbDropdown> 
                <a class="dropdown-toggle" ngbDropdownToggle>
                  <p class="btn btn-primary">Renters</p>
                </a> 
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right"> 
              <div *ngFor="let item of renters;">
                <a class="dropdown-item" href="/nftrent/{{chainId}}/{{currency}}/{{nftId}}/{{item}}">{{item}}</a>
              </div>     
            </div>
          </div> 
        </div>
        <div style="vertical-align: middle;">{{renter}}</div>
      </div>
      <div class="col-md-6 ml-auto mr-auto text-right">
        <button class="btn btn-primary">Balance</button>
        <button class="btn btn-secondary  ">Rented Nfts</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto text-left">tablo</div>
      <div class="col-md-6 ml-auto mr-auto text-left">
        <div class="row">
          <p>Balance</p>
        </div>
        <div class="row">
          <p>Balance Response Query</p>
        </div>
        <div class="row">
          <p>Balance Response Query</p>
        </div>
        <div class="row">
          <p>Balance Response Query</p>
        </div>
      </div>
    </div>
  </div>
</div>
